spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    static-path-pattern: /static/**
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/PCM?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root
  servlet:
    multipart:
      max-file-size: 20MB
logging:
  level:
    root: info
